//
// Typography
//
// stylelint-disable primer/selector-no-utility, primer/no-override, selector-no-type, selector-max-type

h1,
.text-alpha {
  @include fs-8;
  font-weight: 300;
}

h2,
.text-beta {
  @include fs-6;
}

h3,
.text-gamma {
  @include fs-5;
}

h4,
.text-delta {
  @include fs-2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5,
.text-epsilon {
  @include fs-3;
  color: $grey-dk-200;
}

h6,
.text-zeta {
  @include fs-2;
  color: $grey-dk-200;
}

li {
  .highlight {
    margin-top: $sp-2;
  }
}

.text-small {
  @include fs-2;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-center {
  text-align: center !important;
}

#column-content {
  display: inline-block;
  border: 0px solid red;
  position:relative;
  margin-bottom: 10px;
}
#column-content strong {
  color: inherit;
  font-size: 18px;
}

img{
margin-top:0px;
margin-right:7px;
vertical-align: middle;
width:80px;        
}